h1, h2, h3{
  font-family: monospace;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
}
h2{
  font-family: monospace;
  font-size: 20px;
}
h3 {
  font-family: monospace;
  font-size: 15px;
  font-weight: 10;
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 35px; 
}
#big_container{
  display: flex;
  flex-direction: column;
  width: 90%;  /* 100% del ancho de la ventana */
  height: 100%; /* 100% de la altura de la ventana */
  display: flex; 
  align-items: center;
  padding: 20px;
  gap: 20px;
}

p{
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  padding-left: 50px;
  padding-top: 20px;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Altura del viewport */
}
#father_div0 {
  width: 100vw;  /* 100% del ancho de la ventana */
  min-height: 100vh; /* 100% de la altura de la ventana */
  display: flex; 
  align-items: center;
  justify-content: center; /* Centra el contenido en general */
  overflow-y: auto; /* IMPORTANTE: Permite scroll  */
}
#father_div1 {
  width: 100%;  /* 100% del ancho de la ventana */
  height: 100%; /* 100% de la altura de la ventana */
}
button{
  padding: 20px;
  font-family: monospace;
  color: white;
  background-color: #333333;
  display: block;
}
content{
  display: block;
}
button:hover{ 
  background-color: gray;  
}
a{
  text-decoration: none;
}

@media (min-width: 1024px) {
  #big_container {
    flex-direction: row; /* En PC se ponen de lado */
    width: 100%;
    padding-left: 50px;
  }

  h1 {
    font-size: 40px; /* Tamaño grande para PC */
  }

  p {
    padding-left: 50px; /* Recuperamos tu diseño original */
  }
}