h1, h2, h3{
  font-family: monospace;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
}
h2{
  font-family: monospace;
  font-size: 20px;
}
h3 {
  font-family: monospace;
  font-size: 15px;
  font-weight: 10;
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 35px; 
}
#big_container{
  display: flex;
  width: 100%;  /* 100% del ancho de la ventana */
  height: 100%; /* 100% de la altura de la ventana */
  display: flex; 
  align-items: center;
  padding-left: 50px;
}
p{
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  padding-left: 50px;
  padding-top: 20px;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Altura del viewport */
}

#father_div0 {
  width: 100vw;  /* 100% del ancho de la ventana */
  height: 100vh; /* 100% de la altura de la ventana */
  overflow: hidden; 
  display: flex; 
  align-items: center;
}
#father_div1 {
  width: 100%;  /* 100% del ancho de la ventana */
  height: 100%; /* 100% de la altura de la ventana */
}
button{
  padding: 20px;
  font-family: monospace;
  color: white;
  background-color: #333333;

  display: block;
}
content{
  display: block;
}
button:hover{ 
  background-color: gray;  
}
a{
  text-decoration: none;
}